<div class="radio-module-content">
  <md-toolbar color="primary">
    {{title}}
    <md-input-container floatPlaceholder="never">
      <input mdInput #filter placeholder="Поиск" (keyup)='updateFilter($event)'>
    </md-input-container>
  </md-toolbar>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Название типа контроллера/радиомодуля</th>
        <th>Короткое название контроллера/радиомодуля</th>
        <th>Фото</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of rows">
        <td>{{item.USKT_ID}}</td>
        <td>{{item.USKT_NAME}}</td>
        <td>{{item.USKT_SNAME}}</td>
        <td>{{item.USKT_IMAGE}}</td>
        <td>
          <span mdTooltip="Удалить">
            <button type="button" class="btn btn-outline-danger">
              <i class="fa fa-trash" aria-hidden="true"></i> 
            </button>
            </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>