<div class="container">
  <div class="row">

    <div class="col-md-3">
      <md-card>
        <md-card-title>Фото</md-card-title>
      </md-card>
    </div>
    <div class="col-md-9">
      <md-card>
        <md-card-title>
          <h3 class="title">Профиль пользователя</h3>
        </md-card-title>
        <md-card-content>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label input-label">Логин<span class="label-danger">*</span></label>
                <input placeholder="Логин" value="" class="form-control" name="username" required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label input-label">Email</label>
                <input placeholder="Email" value="" class="form-control" name="email" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label input-label">Фамилия</label>
                <input value="" class="form-control" name="PRS_NAME" required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label input-label">Имя</label>
                <input value="" class="form-control" name="PRS_NAME1" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label input-label">Отчество</label>
                <input value="" class="form-control" name="PRS_NAME2" required />
              </div>
              <div class="form-group">
                <label class="control-label input-label">Описание</label>
                <textarea value="" rows="5" class="form-control" name="PRS_MEMO" ></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-group">
                  <label class="control-label input-label">Домашний телефон</label>
                  <input value="" class="form-control" name="PRS_PHONEH" />
                </div>
                <div class="form-group">
                  <label class="control-label input-label">Рабочий телефон</label>
                  <input value="" class="form-control" name="PRS_PHONEW" />
                </div>
                <div class="form-group">
                  <label class="control-label input-label">Мобильный телефон</label>
                  <input value="" class="form-control" name="PRS_PHONEM" />
                </div>
              </div>
            </div>
          </div>
        </md-card-content>
        <md-card-actions>
            <div class="col-md-offset-4 col-md-4 ">
              <button class="form-control btn btn-outline-success">Сохранить <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            </div>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>